@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* home section styling */
.home {
  width: 100%;
  height: 100%;
}

.sectionOne {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  padding-bottom: 230px;
  background-image: url("images/desktop/image-hero.jpg");
  background-color: gray;
  background-size: cover;
}

#sectionOne {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 220px;
}

.mobile {
  display: none;
}

.homeMobile {
  display: grid;
  width: 90%;
  height: 100%;
  overflow: hidden;
  max-width: 100%;
  margin: 0 auto;
  grid-template-columns: 100%;
}

.bar,
.bar2,
.bar3 {
  width: 30px;
  height: 4px;
  background-color: white;
  margin-top: 4px;
  transition: all 0.4s ease-in-out;
}

#icon {
  display: block;
  cursor: pointer;
  height: 20%;
  width: 20%;
  margin-left: 80%;
  position: relative;
  z-index: 100;
}

.change .bar {
  transform: rotate(-45deg) translate(-9.5px, 4px);
  background-color: white;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-9px, -1px);
  background-color: white;
}

#menuMobile {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  position: absolute;
  background-color: black;
  display: none;
  grid-column-start: span 2;
}

#menuMobile nav {
  width: 90%;
  display: grid;
  margin-top: 260px;
  grid-template-columns: 100%;
  text-align: start;
}

#menuMobile nav a {
  padding-top: 60px;
  text-decoration: none;
  color: rgb(196, 196, 196);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
}

.grid_img_logo {
  width: 22%;
}

.grid_img_logo img {
  width: 100%;
}

.gridHome nav {
  display: grid;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto;
  grid-template-columns: auto auto auto auto auto;
}

.gridHome nav a {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  font-size: 0.9em;
}

.item4 {
  border: 3px solid white;
}

.item4 p {
  width: 70%;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 3.6em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: white;
}

/* info section styling */
.info {
  width: 100%;
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
}

#info {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 50% 5% 40%;
  justify-content: center;
}

.img_info_section {
  width: 100%;
}

.img_info_section img {
  width: 100%;
}

.itemVr {
  margin-left: -28%;
  overflow: hidden;
}

#itemVr {
  background-color: white;
  margin-top: 200px;
}
#itemVr h1 {
  color: black;
  font-family: "Josefin Sans", sans-serif;
  width: 70%;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 30px;
  font-size: 2.8em;
  text-transform: uppercase;
}
#itemVr p {
  width: 76%;
  font-size: 1em;
  color: gray;
  line-height: 30px;
  margin-left: 15%;
}

/* creations section styling */
.creations {
  width: 100%;
  height: 100%;
}

#creations {
  width: 88%;
  margin: 0 auto;
  padding-bottom: 180px;
}

.title {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

#title {
  text-align: start;
}

#title h2 {
  font-size: 2.6em;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

.btnTitle,
.btnMobile {
  text-align: end;
}

.btnTitle button,
.btnMobile button {
  font-size: 1.1em;
  padding: 12px 45px 12px 45px;
  border: 1px solid black;
  text-transform: uppercase;
  font-family: "Alata", sans-serif;
  color: black;
  background-color: white;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.btnTitle button:hover,
.btnMobile button:hover {
  background-color: black;
  color: white;
}

.btnMobile {
  display: none;
}

.activities {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  padding-top: 90px;
  grid-template-columns: 20% 20% 20% 20%;
  grid-row-gap: 50px;
  justify-content: space-between;
}

.item_activities {
  width: 100%;
  transition: all 0.4s ease;
}

.item_activities:hover {
  transform: scale(1.05);
}

.item_activities:hover .img_wrapper img {
  filter: opacity(0.5);
}

.item_activities:hover .img_txt {
  color: black;
  font-size: 1.3em;
}

.item_activities:hover .img_txt h3 {
  font-weight: 600;
}

.img_wrapper {
  position: relative;
  max-width: 265px;
  margin: 0 auto;
  cursor: pointer;
}

.img_wrapper img {
  width: 100%;
}

.img_txt {
  position: absolute;
  bottom: 0;
  background: transparent;
  background: transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  font-size: 1.3em;
  transition: all 0.4s ease;
}

.img_txt h3 {
  padding-bottom: 6%;
  padding-left: 10%;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  width: 80%;
  font-weight: 500;
}

/* footer section styling */
.footer {
  width: 100%;
  height: 100%;
  background-color: black;
}

#footer {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  grid-template-columns: auto auto;
  grid-template-rows: 80px;
}

#logo_footer {
  width: 22%;
}

#logo_footer img {
  width: 100%;
}

.social_footer {
  display: flex;
  justify-content: flex-end;
}

#social_footer {
  width: 30%;
  display: grid;
  height: 46%;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
}

.about_footer nav {
  width: 70%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
}
.about_footer nav a {
  text-decoration: none;
  color: white;
  font-family: "Alata", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  padding-bottom: 6px;
}

.copy_footer {
  color: gray;
  text-align: end;
}

/* css animation */
.about_footer nav,
.gridHome nav,
.social_footer #social_footer {
  transition: all 0.3s ease;
}

.about_footer nav a,
.gridHome nav a,
.facebook,
.twitter,
.pinterest,
.instagram {
  width: 100%;
  margin: 0 auto;
  margin-top: 8px;
  height: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.about_footer nav a::after,
.facebook::after,
.twitter::after,
.pinterest::after,
.instagram::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  transform: scale(0);
  transition: all 0.3s ease;
}

.gridHome nav a::after{
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: white;
  transform: scale(0);
  transform-origin: left;
  transition: all 0.4s ease;
}

.about_footer nav a:hover::after,
.gridHome nav a:hover::after,
.facebook:hover::after,
.twitter:hover::after,
.pinterest:hover::after,
.instagram:hover::after {
  transform: scale(1);
}

/* responsive section styling */
@media screen and (max-width: 1500px) {
  .item4 p {
    font-size: 3.6em;
  }

  #itemVr h1 {
    width: 70%;
    font-size: 2.4em;
  }

  #title h2 {
    font-size: 2.4em;
  }

  .img_txt h3 {
    font-size: 1.1em;
    padding-bottom: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .gridHome nav {
    width: 96%;
  }

  .item4 p {
    font-size: 3.6em;
  }

  #itemVr h1 {
    width: 70%;
    font-size: 2.2em;
  }

  #title h2 {
    font-size: 2.4em;
  }

  .img_txt h3 {
    font-size: 1.1em;
    padding-bottom: 5%;
  }
}

@media screen and(max-width:1300px) {
  .grid_img_logo {
    width: 27%;
  }

  .gridHome nav {
    width: 100%;
  }

  .item4 p {
    font-size: 2.7em;
  }

  #itemVr h1 {
    width: 70%;
    font-size: 2em;
  }
  #itemVr p {
    width: 86%;
  }

  #title h2 {
    font-size: 2.2em;
  }

  .img_txt h3 {
    font-size: 1em;
    padding-bottom: 3%;
  }
}

@media screen and (max-width: 1200px) {
  .grid_img_logo {
    width: 30%;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.8em;
  }

  .item4 p {
    width: 80%;
    font-size: 2.8em;
  }

  #itemVr {
    margin-top: 160px;
  }
  #itemVr h1 {
    width: 70%;
    font-size: 1.8em;
  }
  #itemVr p {
    width: 86%;
  }

  #title h2 {
    font-size: 2em;
  }

  .btnTitle button,
  .btnMobile button {
    font-size: 1em;
  }

  .img_txt h3 {
    font-size: 0.9em;
    padding-bottom: 2%;
  }

  .about_footer nav {
    width: 85%;
  }

  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 1100px) {
  .sectionOne {
    background-position: center center;
  }

  .grid_img_logo {
    width: 30%;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.8em;
  }

  .item4 p {
    width: 80%;
    font-size: 2.5em;
  }

  #itemVr {
    margin-top: 140px;
  }
  #itemVr h1 {
    width: 80%;
    font-size: 1.8em;
  }
  #itemVr p {
    margin-left: 10%;
    width: 90%;
    font-size: 1em;
  }

  #title h2 {
    font-size: 1.8em;
  }

  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .img_txt h3 {
    font-size: 0.8em;
    padding-bottom: 2%;
  }

  .about_footer nav {
    width: 85%;
  }

  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and(max-width:1000px) {
  .sectionOne {
    background-position: center center;
  }

  #sectionOne {
    grid-template-columns: 55% 50%;
  }

  .grid_img_logo {
    width: 40%;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.8em;
  }

  .item4 p {
    width: 80%;
    font-size: 2.1em;
  }

  #itemVr {
    margin-top: 140px;
  }
  #itemVr h1 {
    width: 80%;
    font-size: 1.8em;
  }
  #itemVr p {
    margin-left: 10%;
    width: 90%;
    font-size: 1em;
  }

  #title h2 {
    font-size: 1.8em;
  }

  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .img_txt h3 {
    font-size: 0.7em;
    padding-bottom: 2%;
  }

  #logo_footer {
    width: 30%;
  }

  #social {
    width: 40%;
  }

  .about_footer nav {
    width: 90%;
  }

  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 900px) {
  .sectionOne {
    background-position: center center;
  }

  #sectionOne {
    grid-template-columns: 50% 50%;
  }

  .grid_img_logo {
    width: 40%;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.8em;
  }

  .item4 {
    grid-column-start: span 2;
  }
  .item4 p {
    width: 70%;
    font-size: 3.3em;
  }

  #info {
    grid-template-columns: 100%;
  }

  .nodisplay {
    display: none;
  }

  .itemVr {
    margin-left: 0px;
  }

  #itemVr {
    margin-top: 20px;
    text-align: center;
  }
  #itemVr h1 {
    width: 90%;
    font-size: 3em;
    padding-bottom: 20px;
  }
  #itemVr p {
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
    font-size: 1.1em;
  }

  .activities {
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  #title h2 {
    font-size: 1.8em;
  }

  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .img_txt h3 {
    font-size: 1.4em;
    padding-bottom: 2%;
  }

  #logo_footer {
    width: 30%;
  }

  #social_footer {
    width: 40%;
  }

  .about_footer nav {
    width: 100%;
  }

  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 800px) {
  .sectionOne {
    background-position: center center;
    padding-bottom: 150px;
    padding-top: 80px;
  }

  #sectionOne {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px;
  }

  .grid_img_logo {
    width: 50%;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.7em;
  }

  .item4 {
    grid-column-start: span 2;
  }
  .item4 p {
    width: 70%;
    font-size: 3.3em;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #info {
    grid-template-columns: 100%;
  }

  .nodisplay {
    display: none;
  }

  .itemVr {
    margin-left: 0px;
  }

  #itemVr {
    margin-top: 20px;
    text-align: center;
  }
  #itemVr h1 {
    width: 90%;
    font-size: 3em;
    padding-bottom: 20px;
  }
  #itemVr p {
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
    font-size: 1.1em;
    line-height: 34px;
  }

  .activities {
    width: 100%;
    grid-template-columns: 50% 50%;
  }

  #title h2 {
    font-size: 1.6em;
  }

  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .img_txt h3 {
    font-size: 1.4em;
    padding-bottom: 2%;
  }

  #footer {
    grid-template-columns: 100%;
  }

  #logo_footer {
    width: 30%;
    margin: 0 auto;
  }

  .social_footer {
    order: 3;
    padding-bottom: 60px;
  }

  #social_footer {
    width: 40%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
  }

  .about_footer {
    padding-bottom: 30px;
  }
  .about_footer nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 100%;
  }
  .about_footer nav a {
    font-size: 1em;
    padding-bottom: 30px;
  }

  .copy_footer {
    order: 4;
    text-align: center;
  }
  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 700px) {
  .sectionOne {
    background-position: center center;
    padding-bottom: 150px;
    padding-top: 80px;
  }

  #sectionOne {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: grid;
  }

  .grid_img_logo {
    width: 60%;
    position: relative;
    z-index: 100;
  }

  .gridHome nav {
    width: 100%;
  }
  .gridHome nav a {
    font-size: 0.7em;
  }

  .item4 {
    grid-column-start: span 2;
  }
  .item4 p {
    width: 80%;
    font-size: 2.8em;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #info {
    grid-template-columns: 100%;
  }

  .nodisplay {
    display: none;
  }

  .itemVr {
    margin-left: 0px;
  }

  #itemVr {
    margin-top: 20px;
    text-align: center;
  }
  #itemVr h1 {
    width: 90%;
    font-size: 2.5em;
    padding-bottom: 20px;
  }
  #itemVr p {
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
    font-size: 1em;
    line-height: 34px;
  }

  #creations {
    padding-bottom: 80px;
  }

  .title {
    grid-template-columns: 100%;
  }

  #title {
    text-align: center;
  }
  #title h2 {
    font-size: 1.6em;
  }

  .btnTitle,
  .btnMobile {
    display: none;
  }
  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .btnMobile {
    padding-top: 40px;
    text-align: center;
    display: block;
    width: 100%;
  }

  .activities {
    width: 100%;
    padding-top: 50px;
    grid-template-columns: 100%;
  }

  .img_wrapper {
    max-width: 100%;
    height: 200px;
  }

  

  .earth {
    background-image: url("images/mobile/image-deep-earth.jpg");
  }

  .night {
    background-image: url("images/mobile/image-night-arcade.jpg");
  }

  .soccer {
    background-image: url("images/mobile/image-soccer-team.jpg");
  }

  .grid {
    background-image: url("images/mobile/image-grid.jpg");
  }

  .fromUp {
    background-image: url("images/mobile/image-from-above.jpg");
  }

  .pocket {
    background-image: url("images/mobile/image-pocket-borealis.jpg");
  }

  .curiosity {
    background-image: url("images/mobile/image-curiosity.jpg");
  }

  .fisheye {
    background-image: url("images/mobile/image-fisheye.jpg");
  }

  .img_wrapper img {
    display: none;
  }

  .img_txt {
    text-align: start;
  }

  .item_activities:hover .img_txt {
    color: white;
    font-size: 1.3em;
  }

  .img_txt h3 {
    font-size: 1.4em;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 40%;
  }

  #footer {
    grid-template-columns: 100%;
  }

  #logo_footer {
    width: 30%;
    margin: 0 auto;
  }

  .social_footer {
    order: 3;
    padding-bottom: 60px;
  }

  #social_footer {
    width: 40%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
  }

  .about_footer {
    padding-bottom: 30px;
  }
  .about_footer nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 100%;
  }
  .about_footer nav a {
    font-size: 1em;
    padding-bottom: 30px;
  }

  .copy_footer {
    order: 4;
    text-align: center;
  }
  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 600px) {
  .sectionOne {
    background-position: center center;
    padding-bottom: 150px;
    padding-top: 80px;
  }

  #sectionOne {
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: grid;
  }

  #menuMobile nav {
    width: 90%;
    text-align: start;
  }
  #menuMobile nav a {
    font-size: 1.3em;
  }

  .grid_img_logo {
    width: 70%;
    position: relative;
    z-index: 100;
  }

  .item4 {
    grid-column-start: span 2;
  }
  .item4 p {
    width: 80%;
    font-size: 2.3em;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #info {
    grid-template-columns: 100%;
  }

  .nodisplay {
    display: none;
  }

  .itemVr {
    margin-left: 0px;
  }

  #itemVr {
    margin-top: 20px;
    text-align: center;
  }
  #itemVr h1 {
    width: 90%;
    font-size: 2.2em;
    padding-bottom: 20px;
  }
  #itemVr p {
    margin-left: 0px;
    margin: 0 auto;
    width: 90%;
    font-size: 1em;
    line-height: 34px;
  }

  #creations {
    padding-bottom: 80px;
  }

  .title {
    grid-template-columns: 100%;
  }

  #title {
    text-align: center;
  }
  #title h2 {
    font-size: 1.6em;
  }

  .btnTitle,
  .btnMobile {
    display: none;
  }
  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .btnMobile {
    padding-top: 40px;
    text-align: center;
    display: block;
    width: 100%;
  }

  .activities {
    width: 100%;
    padding-top: 50px;
    grid-template-columns: 100%;
  }

  .img_wrapper {
    max-width: 100%;
    height: 200px;
  }

  .earth {
    background-image: url("../images/mobile/image-deep-earth.jpg");
  }

  .night {
    background-image: url("../images/mobile/image-night-arcade.jpg");
  }

  .soccer {
    background-image: url("../images/mobile/image-soccer-team.jpg");
  }

  .grid {
    background-image: url("../images/mobile/image-grid.jpg");
  }

  .fromUp {
    background-image: url("../images/mobile/image-from-above.jpg");
  }

  .pocket {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
  }

  .curiosity {
    background-image: url("../images/mobile/image-curiosity.jpg");
  }

  .fisheye {
    background-image: url("../images/mobile/image-fisheye.jpg");
  }

  .img_wrapper img {
    display: none;
  }

  .img_txt {
    text-align: start;
  }
  .img_txt h3 {
    font-size: 1.4em;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 40%;
  }

  #footer {
    grid-template-columns: 100%;
  }

  #logo_footer {
    width: 30%;
    margin: 0 auto;
  }

  .social_footer {
    order: 3;
    padding-bottom: 60px;
  }

  #social_footer {
    width: 40%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
  }

  .about_footer {
    padding-bottom: 30px;
  }
  .about_footer nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 100%;
  }
  .about_footer nav a {
    font-size: 1em;
  }

  .copy_footer {
    order: 4;
    text-align: center;
  }
  .copy_footer p {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 500px) {
  .sectionOne {
    background-position: center center;
    padding-bottom: 150px;
    padding-top: 80px;
  }

  #sectionOne {
    grid-template-columns: 50% 50%;
    grid-template-rows: 180px;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: grid;
  }

  #menuMobile nav {
    width: 90%;
    text-align: start;
  }
  #menuMobile nav a {
    font-size: 1.3em;
  }

  .grid_img_logo {
    width: 70%;
    position: relative;
    z-index: 100;
  }

  .item4 {
    grid-column-start: span 2;
  }
  .item4 p {
    width: 80%;
    font-size: 1.6em;
  }

  .info {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  #info {
    grid-template-columns: 100%;
  }

  .nodisplay {
    display: none;
  }

  .itemVr {
    margin-left: 0px;
  }

  #itemVr {
    margin-top: 20px;
    text-align: center;
  }
  #itemVr h1 {
    width: 90%;
    font-size: 1.5em;
    padding-bottom: 20px;
  }
  #itemVr p {
    margin-left: 0px;
    margin: 0 auto;
    width: 100%;
    font-size: 1.1em;
    line-height: 34px;
  }

  #creations {
    padding-bottom: 80px;
  }

  .title {
    grid-template-columns: 100%;
  }

  #title {
    text-align: center;
  }
  #title h2 {
    font-size: 1.4em;
  }

  .btnTitle,
  .btnMobile {
    display: none;
  }
  .btnTitle button,
  .btnMobile button {
    font-size: 0.9em;
  }

  .btnMobile {
    padding-top: 40px;
    text-align: center;
    display: block;
    width: 100%;
  }

  .activities {
    width: 100%;
    max-width: 300px;
    padding-top: 50px;
    grid-template-columns: 100%;
  }

  .img_wrapper {
    max-width: 280px;
    height: 110px;
  }

  .earth {
    background-image: url("../images/mobile/image-deep-earth.jpg");
    background-position: center center;
    background-size: contain;
  }

  .night {
    background-image: url("../images/mobile/image-night-arcade.jpg");
    background-size: contain;
  }

  .soccer {
    background-image: url("../images/mobile/image-soccer-team.jpg");
    background-size: contain;
  }

  .grid {
    background-image: url("../images/mobile/image-grid.jpg");
    background-size: contain;
  }

  .fromUp {
    background-image: url("../images/mobile/image-from-above.jpg");
    background-size: contain;
  }

  .pocket {
    background-image: url("../images/mobile/image-pocket-borealis.jpg");
    background-size: contain;
  }

  .curiosity {
    background-image: url("../images/mobile/image-curiosity.jpg");
    background-size: contain;
  }

  .fisheye {
    background-image: url("../images/mobile/image-fisheye.jpg");
    background-size: contain;
  }

  .img_wrapper img {
    display: none;
  }

  .img_txt {
    text-align: start;
  }
  .img_txt h3 {
    font-size: 1.1em;
    padding-bottom: 1%;
    padding-left: 3%;
    width: 55%;
  }

  #footer {
    grid-template-columns: 100%;
  }

  #logo_footer {
    width: 30%;
    margin: 0 auto;
  }

  .social_footer {
    order: 3;
    padding-bottom: 40px;
  }

  #social_footer {
    width: 50%;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto;
  }

  .about_footer {
    padding-bottom: 30px;
  }
  .about_footer nav {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    grid-template-columns: 100%;
  }
  .about_footer nav a {
    font-size: 1em;
  }

  .copy_footer {
    order: 4;
    text-align: center;
  }
  .copy_footer p {
    font-size: 0.9em;
  }
}
